body{
  padding: 25px;
  background-color:#FFE099;
}
.title {
	color: #5C6AC4;
}

.image {
  width:320px;
  height:220px;
  margin:auto;
}

.aim {
  padding-block:80px;
}

.menu {
  padding: 10px;
  background-color:#E6D9B3;
}

h1 {
  text-align:center;
}

.image-card{
  display:block;
  text-align:center;
  width: 200px;
}

.cat-text {
  color:#E37C30;
  
}

.city{
background:white;
margin:10px auto;
padding:10px;
width:200px;
border-radius:6px;
}




