body{
  padding: 25px;
  background-color:#FFE099;
}

}
.title {
	color: #5C6AC4;
}

.image-card{
  text-align:center;
  width:320px;
  margin:auto;
}

.image{
  display:block;
  width:320px;
  height:220px;
  margin:auto;
}

.aim {
  padding-block:80px;
}

.menu {
  padding: 10px;
  background-color:#E6D9B3;
}

h1 {
  text-align:center;
}


.cat-text {
  color:#E37C30;
  
}

.city{
background:white;
margin:10px auto;
padding:10px;
width:200px;
border-radius:6px;
}

h2 {
text-align:center;
}


button {
   width: 70px;      /* bigger width */
    height: 70px;     /* bigger height */
    font-size: 24px;  /* bigger text */
    margin: 4px;      /* spacing between buttons */
    border-radius: 8px; /* optional: rounded corners */
}

input {
 width:100px;
height:20px;
font-size:12px;
margin:4px;
}

body {
    border: 1px solid #333;
}

disp{
padding:10px;

}